---
import BaseLayout from "@layouts/BaseLayout.astro"
---
<BaseLayout
  pageTitle = "Bubble sort"
  description = "Visualised Sorting alghoritms"
  ogDescription = "Visualised Sorting alghoritms & structures"
  ogType = "website"
  mainClass = "items-center justify-start mx-8 max-sm:mx-5"
>
  <h2>Bubble Sort</h2>

</BaseLayout>