---
import BaseLayout from "@layouts/BaseLayout.astro"
import { BarChart } from "@components/react/alghorithms/BarChart.tsx"
import { ALGORITHMS } from "src/types/algorithms.ts"
---

<BaseLayout
  pageTitle="Bubble sort"
  description="Visualised Sorting alghoritms"
  ogDescription="Visualised Sorting alghoritms & structures"
  ogType="website"
  mainClass="items-center justify-start mx-8 max-sm:mx-5"
>
  <h2>Insertion Sort</h2>
  <p>O(n) - O(n<sup>2</sup>)</p>
  <BarChart client:load sortingAlgorithmName={ALGORITHMS.INSERTION_SORT} />
  <p>
    Insertion sort is a very simple method to sort numbers in an ascending or
    descending order. This method follows the incremental method. It can be
    compared with the technique how cards are sorted at the time of playing a
    game.
  </p>
  <p>
    This is an in-place comparison-based sorting algorithm. Here, a sub-list is
    maintained which is always sorted. For example, the lower part of an array
    is maintained to be sorted. An element which is to be 'inserted' in this
    sorted sub-list, has to find its appropriate place and then it has to be
    inserted there. Hence the name, insertion sort.
  </p>
  <p>
    The array is searched sequentially and unsorted items are moved and inserted
    into the sorted sub-list (in the same array). This algorithm is not suitable
    for large data sets as its average and worst case complexity are of O(n2),
    where n is the number of items.
  </p>
  <a
    href="https://www.tutorialspoint.com/data_structures_algorithms/insertion_sort_algorithm.htm"
    >insertion_sort_algorithm</a
  >
</BaseLayout>
