---
import TypographyLink from "@components/TypographyLink/TypographyLink.astro"
import BaseLayout from "@layouts/BaseLayout.astro"
import { getFormattedDate } from "@utils/date"

const publishedDate = new Date("2024-03-01 17:20")
type Props = {
  frontmatter: any
}
const publishedAtLocal = getFormattedDate(publishedDate)
---

<BaseLayout
  pageTitle="About me"
  description="Find out more about creatator of the programming blog."
  ogType="profile"
  mainClass="items-center justify-start"
>
  <Fragment slot="meta">
    <!-- Todo = SEO schema.org script -->
  </Fragment>
  <section>
    <address>
      <div class="mb-2 not-italic">
        <h3> Email</h3>
        <TypographyLink href="mailto:seyhaklyco@gmail.com">
          seyhaklyco@gmail.com
        </TypographyLink>
      </div>
    </address>
    <article itemscope itemtype="https://schema.org/Article" class="mt-8">
      <meta
        itemprop="article:datePublished"
        content={publishedDate.toISOString()}
      />
      <meta itemprop="article:publisher" content="Seyhak Ly" />
      <meta itemprop="article:author" content="Seyhak Ly" />
      <header>
        <p>{publishedAtLocal}</p>
      </header>
      <h2>
        <span itemprop="name">DeeM System</span>
      </h2>
      <p itemprop="description">
        Firma powstaa w Opolu z myl o wiadomych klientach stawiajcych na
        najwy偶sz jako. Zapewniamy profesjonalny monta偶 oraz fachowe doradztwo.
        Jestemy producentem system贸w roletowych oraz moskitierowych. Dowiadczona
        zaoga jak i nowoczesny park maszynowy pozwalaj nam na produkcj
        najwy偶szej jakoci - opartej na specjalnie wyselekcjonowanych komponentach
        od czoowych europejskich dostawc贸w. Stawiamy przede wszystkim na jako,
        co przekada si na zadowolenie klienta. Nasze indywidualne podejcie do
        klientapozwala najoptymalniej dobra system do potrzeb, co pozwala unikn
        ewentualnych bed贸w w trakcie inwestycji. W naszej ofercie znajduj si:
      </p>
      <ul class="list-disc">
        <li class="ml-8">markizy tarasowe i balkonowe</li>
        <li class="ml-8">rolety zewntrzne</li>
        <li class="ml-8">rolety wewntrzne</li>
        <li class="ml-8">moskitiery</li>
        <li class="ml-8">偶aluzje fasadowe</li>
        <li class="ml-8">偶aluzje wewntrzne (aluminiowe i drewniane)</li>
        <li class="ml-8">refleksole</li>
        <li class="ml-8">pergole</li>
        <li class="ml-8">
          system VERNDA (osona przeszkle poziomych i skonych)
        </li>
        <li class="ml-8">sunbreakery</li>
        <li class="ml-8">fotorolety</li>
        <li class="ml-8">rolety z dowolnym nadrukiem</li>
      </ul>
      <p>
        Obsugujemy zar贸wno klient贸w indywidualnych jak i instytucjonalnych,
        deweloper贸w, wsp贸pracujemy z pracowniami architektonicznymi.
      </p>
      <h4 class="mt-4">
        Jestemy do Pastwa dyspozycji - zapraszamy do kontaktu.
      </h4>
    </article>
  </section>
</BaseLayout>
