<!-- <section class="revealed fade-bottom my-6 w-full">
    <h2 class="text-center">{t("index.reviews")}</h2>
    Opinie
    https://developers.google.com/my-business/reference/rest/v4/accounts.locations.reviews/list
  </section> -->
